body {
    font: 12px sans-serif;
    text-align: center;
    margin: 0px;
  }
  
#top {
    background-color: black;
    width: 100%;
}

.header {
  padding-left: 20px;
  display: flex;
  vertical-align: middle;
}

.header2 {
  padding-left: 20px;
  padding-top: 10px;
}

#heading {
  color: #6776E3;
  font-family: sans-serif;
  font-size: 19px;
  text-align: left;
  width: 40%;
  padding-bottom: 5px;
}

#subheading {
  color: #A4ABBD;
  font-family: sans-serif;
  font-size: 15px;
  width: 70%;
  text-align: left;
}

#action {
  font-size: 19px;
  font-family: sans-serif;
  font-weight: 200;
  color: #6187F0;
  padding-bottom: 10px;
  padding-top: 8px;
  display: flex;
  justify-content: center;
}

#submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dscr2 {
  font-size: 16px;
  font-family: sans-serif;;
  font-weight: 200;
  color: #A5ADBC;
  vertical-align: middle;
  text-align: center;
}

.txt {
    color: white;
    padding-left: 15px;
}
#upper {
  padding-left: 0px;
  text-align: center;
  width: 100%;
}
.middle {
  padding-top: 20px;
  padding-left: 50px;
  display: grid;
  justify-content: left;
}

.img {
  position: absolute;
  padding-left: 65%;
}

#lbl {
  margin-top: -20px;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #262626;
}
#logo {
  padding-top: 10px;
}

#lb2 {
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #262626;
}

#content {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 200;
  color: #262626;
}

#content2 {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 200;
  color: #262626;
  text-align: center;
}

#files {
  color: #fff;
  width: 70%;
}

#tab {
  justify-content: center;
}

.grid {
  width: 70%;
  height: 120px;
}

#exp, #imp {
  padding-top: 20px;
  display: grid;
  justify-content: center;
}

#template { 
  display: grid;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
}

#footer {
  position: absolute;
  bottom: 0px;
  padding-bottom: 20px;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
#footerText {
  font-size: 19px;
  font-family: sans-serif;
  font-weight: 200;
  color: #6F7480;
}
#footerText2 {
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 200;
  color: #6F7480;
}